<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Verify 21vek.by">
<!--    Don't use parallel tests because 21vek.by block ID about 2 weeks-->
    <parameter name="suiteOwner" value="qpsdemo"/>
    <parameter name="jenkinsJobName" value="web-tests"/>
    <parameter name="jenkinsJobType" value="web"/>
    <parameter name="jenkinsEmail" value="test@qaprosoft.com"/>
    <parameter name="jenkinsEnvironments" value="DEMO"/>
    <parameter name="jenkinsRegressionPipeline" value="nightly_regression, full_regression"/>
    <parameter name="jenkinsRegressionMatrix" value="env: DEMO, branch: cron, browser: chrome; env:PROD, branch: prod, browser: firefox"/>

<!--    <test name = "ChromeTest - Account section test">-->
<!--        <parameter name="browser" value="chrome"/>-->
<!--        <classes>-->
<!--            <class name = "com.solvd.webtesting.AccountSectionTest" />-->
<!--        </classes>-->
<!--    </test>-->
    <test name = "Search test" parallel="methods" thread-count="2">
        <parameter name="browser" value="chrome"/>
        <parameter name="product" value="Холодильники"/>
        <parameter name="product1" value="Смартфоны"/>
        <parameter name="brand" value="Beko"/>
        <parameter name="minPrice" value="400"/>
        <parameter name="maxPrice" value="1000"/>
        <classes>
            <class name = "com.solvd.webtesting.SearchTest" />
        </classes>
    </test>
<!--    <test name = "FirefoxTest - Account section test">-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name = "com.solvd.webtesting.AccountSectionTest" />-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name = "FirefoxTest - Search test" parallel="methods" thread-count="2">-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--        <parameter name="product" value="Холодильники"/>-->
<!--        <parameter name="product1" value="Смартфоны"/>-->
<!--        <parameter name="brand" value="Beko"/>-->
<!--        <parameter name="minPrice" value="400"/>-->
<!--        <parameter name="maxPrice" value="1000"/>-->
<!--        <classes>-->
<!--            <class name = "com.solvd.webtesting.SearchTest" />-->
<!--        </classes>-->
<!--    </test>-->
</suite>
